In [7]:
from utils import ModelImporter, Preprocessing
import torch
import pandas as pd
import numpy as np
from sklearn import metrics

# Analize Test Data Results with model train with entire data and tuned parameters

In [2]:
pre = Preprocessing('fer2013')
pre.load_data(filename='test_public_norm.csv', name='test')

X_df = pre.get(name='test').drop(columns=['emotion'])
y_df = pre.get(name='test')['emotion']

In [3]:
dtype = torch.float
device = torch.device("cpu")

n_classes = 7
n_epochs = 100
learning_rate = 0.0001
batch_size = 32
epoch_n=80

model_name = f'cnn_simple_{learning_rate}_{batch_size}_{n_epochs}_{n_classes}_epoch{epoch_n}'

m_importer = ModelImporter('fer2013')

model = m_importer.load_nn_model(model_name)

['cnn_simple_0.0001_32_100_7_epoch80', 1, 7, [48, 48], 15, 2]
load model CnnSimple(
  (drop_hidden): Dropout(p=0.5)
  (drop_visible): Dropout(p=0.2)
  (conv1): Conv2d(1, 15, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (batchnorm1): BatchNorm2d(15, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (pool): MaxPool2d(kernel_size=2, stride=2, padding=0, dilation=1, ceil_mode=False)
  (fc1): Linear(in_features=8640, out_features=32, bias=True)
  (fc2): Linear(in_features=32, out_features=7, bias=True)
)

In [8]:
X_test = model.reshape_data(torch.tensor(X_df.values, device=device, dtype=dtype))
y_test = torch.tensor(y_df.values, device=device, dtype=torch.long)

In [9]:
y_pred_prob = model(X_test)

In [10]:
y_pred = y_pred_prob.argmax(1)

In [11]:
accuracy_soft = (y_pred == y_test).float().mean()
accuracy_soft

tensor(0.4806)

In [17]:
y_pred

tensor([2, 3, 2,  ..., 4, 0, 6])

In [18]:
results = pd.DataFrame()

In [19]:
results['y_test'] = y_test
results['y_pred'] = y_pred
results['right'] = (y_pred == y_test).float()
results['ones'] = 1

In [20]:
results.tail()

      y_test  y_pred  right  ones
3584       4       0    0.0     1
3585       3       3    1.0     1
3586       4       4    1.0     1
3587       4       0    0.0     1
3588       4       6    0.0     1

In [21]:
report = results.groupby('y_test').sum()
report

        y_pred  right  ones
y_test
0         1314  126.0   467
1          118   11.0    56
2         1620  164.0   496
3         2941  617.0   895
4         2307  243.0   653
5         1785  272.0   415
6         2672  292.0   607

In [22]:
report['%'] = report['right']/report['ones']
report

        y_pred  right  ones         %
y_test
0         1314  126.0   467  0.269807
1          118   11.0    56  0.196429
2         1620  164.0   496  0.330645
3         2941  617.0   895  0.689385
4         2307  243.0   653  0.372129
5         1785  272.0   415  0.655422
6         2672  292.0   607  0.481054

In [23]:
report['ones'].sum()

3589

In [24]:
#class 3 is somhow well recognized (also is the class with more samples) 
#whereas not a single sample of class 2 was properly detected

# Analize Test Data Results with model train with disgust only expanded data

In [26]:
epoch_n=80
model_name = f'cnn_simple_{learning_rate}_{batch_size}_{n_epochs}_{n_classes}_epoch{epoch_n}'
m_importer = ModelImporter('fer2013_expanded_disgust')
model = m_importer.load_nn_model(model_name)

['cnn_simple_0.0001_32_100_7_epoch80', 1, 7, [48, 48], 15, 2]
load model CnnSimple(
  (drop_hidden): Dropout(p=0.5)
  (drop_visible): Dropout(p=0.2)
  (conv1): Conv2d(1, 15, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (batchnorm1): BatchNorm2d(15, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (pool): MaxPool2d(kernel_size=2, stride=2, padding=0, dilation=1, ceil_mode=False)
  (fc1): Linear(in_features=8640, out_features=32, bias=True)
  (fc2): Linear(in_features=32, out_features=7, bias=True)
)

In [27]:
X_test = model.reshape_data(torch.tensor(X_df.values, device=device, dtype=dtype))
y_test = torch.tensor(y_df.values, device=device, dtype=torch.long)

In [28]:
y_pred_prob = model(X_test)

In [29]:
y_pred = y_pred_prob.argmax(1)

In [30]:
accuracy_soft = (y_pred == y_test).float().mean()
accuracy_soft

tensor(0.4987)

In [31]:
results_expanded_disgust = pd.DataFrame()

In [32]:
results_expanded_disgust['y_test'] = y_test
results_expanded_disgust['y_pred'] = y_pred
results_expanded_disgust['right'] = (y_pred == y_test).float()
results_expanded_disgust['ones'] = 1

In [33]:
results_expanded_disgust.tail()

      y_test  y_pred  right  ones
3584       4       0    0.0     1
3585       3       3    1.0     1
3586       4       4    1.0     1
3587       4       0    0.0     1
3588       4       6    0.0     1

In [34]:
report_exp_disgust = results_expanded_disgust.groupby('y_test').sum()
report_exp_disgust

        y_pred  right  ones
y_test
0         1211  146.0   467
1          101   19.0    56
2         1649  135.0   496
3         2874  680.0   895
4         2312  247.0   653
5         1818  275.0   415
6         2657  288.0   607

In [35]:
report_exp_disgust['%'] = report_exp_disgust['right']/report_exp_disgust['ones']
report_exp_disgust

        y_pred  right  ones         %
y_test
0         1211  146.0   467  0.312634
1          101   19.0    56  0.339286
2         1649  135.0   496  0.272177
3         2874  680.0   895  0.759777
4         2312  247.0   653  0.378254
5         1818  275.0   415  0.662651
6         2657  288.0   607  0.474465

In [ ]:
# the general accuracy has improved from 46.81% to 49.23% 
# the main changed has happened in the prediction of the disgust class, going from 14.28% to 23.21% 
# this considerable improvement has happened only by adding the flippedimages

## Analize Test Data Results with model train with expanded data

In [52]:
dtype = torch.float
device = torch.device("cpu")

n_classes = 7
n_epochs = 100
learning_rate = 0.0001
batch_size = 32
epoch_n=60

In [53]:
model_name = f'cnn_simple_{learning_rate}_{batch_size}_{n_epochs}_{n_classes}_epoch{epoch_n}'
m_importer = ModelImporter('fer2013_expanded')
model = m_importer.load_nn_model(model_name)
print(model.state_dict())

['cnn_simple_expanded_0.0001_32_100_7_epoch60', 1, 7, [48, 48], 15, 2]
load model CnnSimple(
  (drop_hidden): Dropout(p=0.5)
  (drop_visible): Dropout(p=0.2)
  (conv1): Conv2d(1, 15, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (batchnorm1): BatchNorm2d(15, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (pool): MaxPool2d(kernel_size=2, stride=2, padding=0, dilation=1, ceil_mode=False)
  (fc1): Linear(in_features=8640, out_features=32, bias=True)
  (fc2): Linear(in_features=32, out_features=7, bias=True)
)
OrderedDict([('conv1.weight', tensor([[[[ 0.0042, -0.1761,  0.1045],
          [-0.2366,  0.2980,  0.0053],
          [ 0.2086, -0.0152, -0.1142]]],


        [[[ 0.0581,  0.1283,  0.2127],
          [-0.0529, -0.3404, -0.3195],
          [ 0.0550,  0.2163,  0.1197]]],


        [[[ 0.2406, -0.0417, -0.0047],
          [ 0.3672,  0.1402,  0.2999],
          [ 0.1990,  0.0204,  0.2339]]],


        [[[-0.0999,  0.3016, -0.0296],
          [ 0.2190,  0.2398, -0.3846],
          [-0.0512, -0.3254,  0.0011]]],


        [[[-0.0287, -0.2724, -0.0216],
          [ 0.2794,  0.2399, -0.3544],
          [-0.2499,  0.2229,  0.2081]]],


        [[[ 0.0060, -0.2046,  0.2414],
          [-0.4730, -0.0172,  0.0355],
          [-0.1846, -0.1876,  0.2555]]],


        [[[-0.2039,  0.1048, -0.2820],
          [ 0.2926, -0.0609, -0.1121],
          [ 0.1644,  0.0139,  0.0594]]],


        [[[-0.0784, -0.3502,  0.1582],
          [-0.0096, -0.0453, -0.0061],
          [ 0.0411, -0.0374,  0.3561]]],


        [[[ 0.1092,  0.2265,  0.0025],
          [-0.0792,  0.1449, -0.3314],
          [-0.1659, -0.1888,  0.3398]]],


        [[[ 0.0622, -0.2857,  0.2510],
          [-0.0044,  0.1633, -0.2144],
          [-0.0572,  0.1090, -0.0317]]],


        [[[ 0.2013, -0.1750,  0.0178],
          [ 0.1101, -0.1783,  0.0484],
          [ 0.0883, -0.1924,  0.0996]]],


        [[[ 0.2808,  0.2728,  0.1979],
          [-0.1658, -0.3016, -0.0225],
          [-0.1290,  0.0533, -0.1827]]],


        [[[ 0.0214, -0.1425,  0.1755],
          [-0.0678, -0.1769,  0.1975],
          [ 0.3053, -0.3488,  0.0487]]],


        [[[-0.0211,  0.1907, -0.0729],
          [-0.3034,  0.2654, -0.0203],
          [ 0.1880, -0.3423,  0.2144]]],


        [[[ 0.3150,  0.0455, -0.1139],
          [-0.2848, -0.3866,  0.0804],
          [-0.0153,  0.3327,  0.0249]]]])), ('conv1.bias', tensor([ 0.0432, -0.1470,  0.1865,  0.1665,  0.1921,  0.2622, -0.0201,  0.0892,
         0.0882, -0.2677,  0.0275,  0.1921, -0.1549, -0.0871,  0.0591])), ('batchnorm1.weight', tensor([0.5411, 0.8896, 0.5331, 0.3992, 0.5970, 0.7335, 0.7693, 0.8248, 0.7189,
        0.5069, 0.7722, 0.9190, 0.4557, 0.4645, 0.8049])), ('batchnorm1.bias', tensor([-0.3304, -0.5464, -0.2587, -0.0497, -0.1503, -0.4372, -0.3936, -0.3744,
        -0.4169, -0.3728, -0.3008, -0.2225, -0.1620, -0.2742, -0.3595])), ('batchnorm1.running_mean', tensor([ 0.0819, -0.1153,  0.8974,  0.1074,  0.2076, -0.0012, -0.0295,  0.0978,
         0.1145, -0.2721,  0.0313,  0.1907, -0.1565, -0.0397,  0.0522])), ('batchnorm1.running_var', tensor([0.0010, 0.0030, 0.1236, 0.0057, 0.0032, 0.0270, 0.0050, 0.0055, 0.0024,
        0.0003, 0.0020, 0.0075, 0.0028, 0.0017, 0.0023])), ('batchnorm1.num_batches_tracked', tensor(98468)), ('fc1.weight', tensor([[ 0.0139,  0.0150,  0.0178,  ...,  0.0215, -0.0742, -0.0294],
        [-0.0037,  0.0041, -0.0370,  ..., -0.0039,  0.0268,  0.0014],
        [-0.0217, -0.0236,  0.0144,  ..., -0.0232, -0.0121, -0.0213],
        ...,
        [-0.0013,  0.0006, -0.0017,  ..., -0.0060, -0.0124,  0.0089],
        [ 0.0031,  0.0067, -0.0143,  ...,  0.0006, -0.0061,  0.0045],
        [ 0.0179,  0.0154,  0.0073,  ..., -0.0357, -0.0124,  0.0252]])), ('fc1.bias', tensor([ 2.7821e-02,  1.2714e-02,  4.5859e-02,  1.9771e-02,  4.3860e-02,
         5.5358e-02,  3.9062e-02,  5.8425e-04, -5.3208e-05,  1.3118e-03,
        -9.1680e-03,  6.8500e-02, -4.7835e-02,  8.2439e-03,  7.0598e-02,
        -4.2880e-02, -2.3322e-02,  2.0806e-03,  4.0475e-02,  5.5238e-03,
         5.1931e-02, -1.0424e-02,  2.9290e-02, -2.8713e-02,  5.2308e-04,
         3.6417e-02,  8.5568e-02, -9.5714e-04, -4.1672e-03, -3.3094e-03,
         2.4810e-03, -6.2405e-04])), ('fc2.weight', tensor([[-0.1424, -0.0565,  0.1087,  0.1533, -0.3877, -0.1880,  0.1073,  0.1957,
          0.2521, -0.0219,  0.1190,  0.1240,  0.1718,  0.3659, -0.0672,  0.2354,
         -0.2952, -0.1274,  0.0104,  0.0305,  0.1371, -0.0551, -0.0361,  0.1553,
         -0.3613,  0.1828,  0.0190, -0.1596, -0.1580,  0.0492, -0.0104, -0.0565],
        [-0.5400,  0.1974,  0.0728,  0.1050, -0.5721, -0.5965, -0.1539, -0.1233,
         -0.1447,  0.0400, -0.1687,  0.1295,  0.1592,  0.4068,  0.3707, -0.1173,
         -0.3312,  0.1582, -0.3660,  0.0132, -0.2501,  0.1022,  0.3645, -0.3555,
         -0.0304, -0.0019, -0.6336,  0.0401, -0.0361,  0.1664,  0.1278, -0.8681],
        [ 0.1929,  0.1610,  0.0443,  0.0194, -0.1105,  0.0063, -0.0753, -0.0145,
         -0.3044, -0.0304,  0.1219,  0.0448,  0.1978, -0.3042, -0.1805,  0.0826,
          0.1575, -0.0369, -0.1768,  0.0537, -0.0659,  0.1151, -0.2194,  0.0933,
          0.1922,  0.1584,  0.1142,  0.1564,  0.0668, -0.0330, -0.0236, -0.2445],
        [-0.0434, -0.3648,  0.2620, -0.6174,  0.2717, -0.4694,  0.2794, -0.3173,
         -0.0082, -0.1115, -0.0057,  0.1516, -0.0266, -0.2417,  0.3105, -0.1123,
          0.0290,  0.1641,  0.4095,  0.1743, -0.0061, -0.1552, -0.1497, -0.0997,
         -0.3140,  0.0154,  0.1092,  0.1527,  0.1153, -0.0717, -0.1436,  0.0493],
        [ 0.2163,  0.1621, -0.2591,  0.0527,  0.1044, -0.0278, -0.0056,  0.2845,
         -0.3902, -0.0536, -0.0450,  0.1339,  0.0217, -0.3847, -0.2408, -0.2829,
         -0.3702, -0.1683, -0.2296, -0.1760,  0.1944, -0.1857, -0.4092, -0.1317,
         -0.0677,  0.2674,  0.0888,  0.1510, -0.1197, -0.1279, -0.0931, -0.2021],
        [ 0.2313, -0.4168,  0.0759,  0.0443,  0.0608,  0.2160,  0.0770, -0.0039,
          0.1943,  0.1032,  0.1542, -0.3474,  0.1539, -0.2739, -0.3650,  0.3086,
          0.1611, -0.0173, -0.0699,  0.1026, -0.2459, -0.0404, -0.2528, -0.3250,
          0.2289, -0.2827, -0.2326,  0.0204,  0.0805, -0.0272,  0.0569,  0.1295],
        [ 0.0351, -0.1207, -0.3719,  0.0637,  0.1365,  0.2058, -0.2857, -0.3685,
         -0.1027,  0.0251, -0.0667,  0.0666, -0.3366, -0.3524,  0.1179, -0.2819,
         -0.0778,  0.0345,  0.1162, -0.0333,  0.2457, -0.1422,  0.3166,  0.0408,
         -0.0118, -0.1969,  0.1197, -0.1215, -0.1723,  0.0110, -0.0308, -0.0074]])), ('fc2.bias', tensor([-0.1554, -0.8404, -0.0668,  0.1878,  0.3137, -0.1882,  0.3192]))])

In [54]:
X_test = model.reshape_data(torch.tensor(X_df.values, device=device, dtype=dtype))
y_test = torch.tensor(y_df.values, device=device, dtype=torch.long)

In [55]:
y_pred_prob = model(X_test)

In [56]:
y_pred = y_pred_prob.argmax(1)

In [57]:
accuracy_soft = (y_pred == y_test).float().mean()
accuracy_soft

tensor(0.5043)

In [58]:
results_expanded = pd.DataFrame()

In [59]:
results_expanded['y_test'] = y_test
results_expanded['y_pred'] = y_pred
results_expanded['right'] = (y_pred == y_test).float()
results_expanded['ones'] = 1

In [60]:
results_expanded.tail()

      y_test  y_pred  right  ones
3584       4       3    0.0     1
3585       3       3    1.0     1
3586       4       6    0.0     1
3587       4       0    0.0     1
3588       4       6    0.0     1

In [61]:
report_exp = results_expanded.groupby('y_test').sum()
report_exp

        y_pred  right  ones
y_test
0         1346  132.0   467
1          130    9.0    56
2         1766  122.0   496
3         2971  639.0   895
4         2537  312.0   653
5         1852  290.0   415
6         2770  306.0   607

In [62]:
report_exp['%'] = report_exp['right']/report_exp['ones']
report_exp

        y_pred  right  ones         %
y_test
0         1346  132.0   467  0.282655
1          130    9.0    56  0.160714
2         1766  122.0   496  0.245968
3         2971  639.0   895  0.713966
4         2537  312.0   653  0.477795
5         1852  290.0   415  0.698795
6         2770  306.0   607  0.504119